<!DOCTYPE html>
<html>
    <head>
        <title>
            Report
        </title>
    </head>
    <body>
        <h1>Report</h1>
        <p>In this report interface, select from party and names. Then the report will return the
            win count and average number of votes.
        </p>
        <form method = "POST">
            {% csrf_token %}
            
            
            {% for p in plist %}
            <label>
                <input type="checkbox" name = "firstlist[]" value="{{ p }}"> {{ p }}
            </label>
            {% endfor %}

            {% for c in clist %}
            <label>
                <input type="checkbox" name = "secondlist[]" value="{{ c }}"> {{ c }}
            </label>
            {% endfor %}


            <button type="submit">Submit</button>
        </form>

        <table border = "1">
            <tr>
                {% for c in colList %}
                    <th>{{ c }}</th>
                
                {% endfor %}
            </tr>
            {% for row in joinedrows %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% if displaystatistics %}
            <p>You filtered by {{ selectedparties }} {{ selectedcands }}</p>
            <p>{{ countcol }}: {{ thecount }}</p>
            <p>{{ avgcol }}: {{ theavg }}</p>
        {% endif %}
    </body>
</html>