<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectionDB</title>
</head>
<body>
    <h2>Add a row (Election Table)</h2>
    <p>You can only add a row where winner id and winner name already match with a 
        row in the Candidate table. Otherwise, nothing will happen. Also, the election ID
        must be different from existing rows, or else there will be an error.
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="c1" placeholder="Election ID">
        <input type="text" name="c2" placeholder="Winner Name">
        <input type="text" name="c3" placeholder="Winner ID">
        <input type="text" name="c4" placeholder="Winner Votes">
        <button type="submit">Submit</button>
    </form>
    <h2>Delete a row (Election Table)</h2>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="deleteID" placeholder="Election ID">
        <button type="submit">Submit</button>
    </form>
    <h2>Edit a row (Election Table)</h2>
    <p>Editing will only affect the winner name and the winner votes.
        The election ID and winner ID fields are used to query the Election and Candidate tables, respectively. Editing the name will make
        the same edit to the corresponding candidate.
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="edit1" placeholder="Election ID">
        <input type="text" name="edit2" placeholder="Winner Name">
        <input type="text" name="edit3" placeholder="Winner ID">
        <input type="text" name="edit4" placeholder="Winner Votes">
        <button type="submit">Submit</button>
    </form>
    <br>
    <h1>Election Table</h1>
    <table border="1">

        <tr>
        {% for c in coltracker %}
            <th>{{ c }}</th>
        
        {% endfor %}
        </tr>
        {% for row in rowtracker %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>Add a row (Candidate Table)</h2>
    <p>Note: You are only allowed to add a candidate with a different ID from existing rows
        (or else there will be an error) and the 
        party must also already be existing in the Party table (or else no addition will be made).  
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="addc1" placeholder="Candidate ID">
        <input type="text" name="addc2" placeholder="Candidate Name">
        <input type="text" name="addc3" placeholder="Party Name">
        <button type="submit">Submit</button>
    </form>
    <h2>Delete a row (Candidate Table)</h2>
    <p>Deleting a candidate who won an election will delete all elections won by that candidate.</p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="deleteIDCand" placeholder="Candidate ID">
        <button type="submit">Submit</button>
    </form>
    <h2>Edit a row (Candidate Table)</h2>
    <p>Editing a candidate who won an election will edit the name for all elections won by that candidate.
        Edits only affect candidate name and party, not id. The ID is used to query the candidate table 
        and election table. Note: the new party name must be an existing party or no edit will be made.
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="candedit1" placeholder="Candidate ID">
        <input type="text" name="candedit2" placeholder="Candidate Name">
        <input type="text" name="candedit3" placeholder="Candidate Party">
        <button type="submit">Submit</button>
    </form>
    <h1>Candidate Table</h1>
    <table border="1">

        <tr>
        {% for c in candcoltracker %}
            <th>{{ c }}</th>
        
        {% endfor %}
        </tr>
        {% for row in candrowtracker %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>



    <h2>Add a row (Party Table)</h2>
    <p>You can only add a party with a different name from existing parties or else nothing
        will happen.
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="partyc1" placeholder="Party ID">
        <input type="text" name="partyc2" placeholder="Party Name">
        <button type="submit">Submit</button>
    </form>

    <h2>Delete a row (Party Table)</h2>
    <p>After a party is deleted, any candidates with that party will have their Party
        become Unknown. Unknown is a special value in the party table that cannot be deleted or edited
        (nothing will happen if you try to edit or delete the row with partyname Unknown)
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="deleteIDParty" placeholder="Party ID">
        <button type="submit">Submit</button>
    </form>

    <h2>Edit a row (Party Table)</h2>
    <p>Unknown party cannot be edited and editing a party name will also make the same change
        to candidates who had the edited party.
    </p>
    <form method="POST">
        {% csrf_token %} 
        <input type="text" name="editIDParty" placeholder="Party ID">
        <input type="text" name="editIDParty2" placeholder="Party Name">
        <button type="submit">Submit</button>
    </form>

    <h1>Party Table</h1>
    <table border="1">

        <tr>
        {% for c in partycoltracker %}
            <th>{{ c }}</th>
        
        {% endfor %}
        </tr>
        {% for row in partyrowtracker %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
</html>

